<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>うんかーJS</title>
<meta name="application-name" content="うんかーJS">
<meta name="keywords" content="うんかー,unkar,2ちゃんねる,ビューア,js">
<meta name="description" content="うんかーJSはブラウザからそのまま使える、JavaScriptでできた2chビューアです。">
<link rel="stylesheet" href="http://file.unkar.org/css/podunk/podunk-1.1.2.css">
<link rel="shortcut icon" href="http://file.unkar.org/favicon.ico" type="image/x-icon">
<link rel="icon" href="http://file.unkar.org/favicon.ico" type="image/x-icon">
</head>
<body>
<div id="contents"></div>
<script charset="utf-8" src="//file.unkar.org/js/podunk/unkar-2.4.4.min.js"></script>
<noscript>
うんかーJSはブラウザからそのまま使える、JavaScriptでできた2chビューアです。機能を使用する場合、JavaScriptを有効にしてください。
</noscript>
</body>
</html>
