<footer>
<div id="footer">
<ul>
<li><a href="#content">ページの一番上</a></li>
<li><a href="{{.HostUrl}}">板一覧</a></li>
<li><a href="/help/">削除依頼</a></li>
</ul>
</div>
<div id="version">
<a href="/">unkar</a> ver {{.Ver}}
</div>
</footer>
