* {
	font-family:"ÇlÇr ÇoÉSÉVÉbÉN","ÇlÇr ÉSÉVÉbÉN";
}

body {
	color:#000000;
	font-size:14px;
	line-height:120%;
	margin:0;
	padding:0;
}

#menu {
	width:100%;
	height:auto;
	margin:0;
	padding:0;
}

#server {
	font-size:14px;
	float:left;
	width:15%;
	height:100%;
	vertical-align:top;
	overflow:scroll;
}

#board {
	float:left;
	width:85%;
	height:30%;
	overflow:scroll;
}

#board-tab {
	float:left;
	line-height:13px;
	width:85%;
	height:auto;
	white-space:nowrap;
	font-size:12px;
}

#board-menu {
	float:left;
	width:85%;
	height:18px;
	white-space:nowrap;
	font-size:12px;
}

#board-search {
	border: solid 1px #000000;
}

#board table {
	width:100%;
	font-size:14px;
	overflow:hidden;
	white-space:nowrap;
}

.line-color {
	background-color:#F5F5F5;
}

#board th {
	font-size:12px;
	background-color:#F0F0E8;
}

#thread {
	float:left;
	background-color:#EFEFEF;
	font-size:16px;
	line-height:115%;
	width:85%;
	height:60%;
	overflow:scroll;
}

#thread-tab {
	float:left;
	line-height:13px;
	background-color:#EFEFEF;
	font-size:12px;
	width:85%;
	height:auto;
	white-space:nowrap;
}

#thread-menu {
	float:left;
	width:85%;
	height:18px;
	white-space:nowrap;
	font-size:12px;
}

#thread-search {
	border: solid 1px #000000;
}

#popup {
	white-space:pre;
}

.nich {
	color:green;
}

.res {
	color:#B02B2C;
	font-weight:700;
}

.sin {
	color:#3F4C6B;
}

.spd {
	color:#006E2E;
	font-weight:700;
}

.title {
	font-size:18px;
	color:red;
}

.navi {
	color:#3300FF;
	text-decoration:underline;
}

.search {
	background-color:#FFFF00;
}

h1 {
	color:red;
	font-size:18px;
	font-weight:400;
	margin:10px 0px 14px 3px;
}

h2 {
	font-size:16px;
	font-weight:400;
	margin:0;
	padding:0;
}

form, input {
	display:inline;
	vertical-align:top;
	margin:0;
	padding:0;
}

b {
	font-weight:700;
}

dd {
	margin:0 0 20px 32px;
}

dl {
	margin:0 0 0 5px;
}

ul {
	list-style:none;
	margin:0;
	padding:0;
}

li {
	background-color:#EBE5C3;
	float:left;
	width:auto;
	margin:0px 2px 2px 2px;
	padding:2px;
}

li.now {
	background-color:#FFEEA8;
}

#thread-tab li a,
#board-tab li a {
	color:#000000;
	text-decoration:none;
}

li a:hover {
	background-color:#E0EFF9;
}

a:link,a:visited {
	color:blue;
}

a:link.makka,a:visited.makka,a:active.makka,a:hover.makka {
	color:red;
	text-decoration:underline;
}

a:link.ninki,a:visited.ninki,a:active.ninki,a:hover.ninki {
	color:#AF00CF;
	text-decoration:underline;
}

a:link.tan,a:visited.tan,a:active.tan,a:hover.tan {
	color:#333;
	text-decoration:underline;
}

.popup dl,.popup dt,dt {
	margin:0;
}
